@import 'reset.css';

html,
body {
	font-family: Pretendard, -apple-system, BlinkMacSystemFont, Bazier Square,
		Noto Sans KR, Segoe UI, Apple SD Gothic Neo, Roboto, Helvetica Neue, Arial,
		sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
		Noto Color Emoji;
	background-color: rgb(1, 8, 22);
	color: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

span {
	line-height: 1.5;
}

.nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	height: 50px;
	background-color: rgb(17, 24, 39);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 50;
}

.container {
	margin: 60px auto 10px auto;
	display: flex;
	flex-direction: column;
	width: 60%;
	background-color: rgb(17, 24, 39);
	padding: 1.25rem;
	gap: 1.25rem;
}

.about,
.experiences,
.projects,
.skills,
.others {
	scroll-margin-top: 60px;
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}

.about,
.experiences,
.projects,
.skills {
	border-bottom: 1px solid rgb(30, 41, 59); /* 구분선 색상과 두께 조정 가능 */
	padding-bottom: 40px; /* 내용과 구분선 사이의 간격 */
	margin-bottom: 20px; /* 구분선과 다음 섹션 사이의 간격 */
}

.title {
	font-size: 48px;
}

.text-3xl {
	font-size: 1.875rem;
	line-height: 2.25rem;
}

.text-lg {
	font-size: 1.125rem;
	line-height: 1.75rem;
}

.text-bold {
	font-weight: 700;
}

.experiences-section {
	background-color: black;
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	border: 1px solid rgb(30, 41, 59);
	border-radius: 18px;
	padding: 20px;
}

@media only screen and (max-width: 600px) {
	.container {
		width: 90%;
	}

	.title {
		font-size: 36px;
	}

	.experiences-section,
	.about,
	.skills,
	.others {
		padding: 1rem;
	}
}
